@page
@model NotesModel
@{
    ViewData["Title"] = "All notes";
}

<h2>All notes</h2>


<div class="row">
    <div class="col-md-4 align-self-center">
        <a asp-page="./Create" style="height: 80%;" class="btn btn-lg btn-primary">Add new restaurant</a>
    </div>
    @foreach (var note in Model.Notes)
    {
        @Html.Partial("_Summary", note)
        ;
    }
</div>