@page
@model NotesModel
@{
    ViewData["Title"] = "All notes";
}

<h2>All notes</h2>


<a asp-page="/Create" class="btn btn-primary">Add new restaurant</a>


<div class="card-deck">
    @foreach (var note in Model.Notes)
    {
        @Html.Partial("_Summary", note);
    }
</div>